body {
  overflow-x: hidden;
}

#home-section {
  position: relative;
  background: url(../src/img/stockmarket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../src/img/stock.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  background-size: cover;
}

#about-page-header {
  height: 400px;
  background: url("../src/img/about_header_large.jpg");
  background-position: 0 -40px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 100px;
  /* background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Leckerli One", cursive;
}

.about-img {
  margin-top: -67px;
}

.project-img {
  margin-top: -100px;
}

.spinner {
  margin-top: -335px;
}

.features-available {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

@media only screen and (max-width: 576px) {
  #about-page-header {
    /* height: 275px;
    background: url("../src/img/about_header.jpg");
    background-position: 0 56px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Leckerli One", cursive; */

    height: 167px;
    background: url("../src/img/about_header.jpg");
    background-position: 0 -50px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 11px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Leckerli One", cursive;
  }

  .spinner {
    width: 90%;
    margin-top: -210px;
  }

  .w-50 {
    width: 100% !important;
  }
}
